/* General Styles */
.app-title {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 500;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

.mat-toolbar .mat-icon-button {
  color: black;
}

.mat-toolbar {
  color: black;
}

.mat-sidenav {
  background-image: url('/assets/smoke.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white !important;
}

/* Adjust `mat-sidenav-content` for Flex Layout */
mat-sidenav-content {
  background-image: url('/assets/smokies.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; /* Ensure content and footer stack vertically */
  min-height: 100vh; /* Full viewport height */
}

.router-container {
  flex-grow: 1; /* Allow router content to take available space */
  padding: 16px;
  padding-bottom: 16px; /* Add padding for spacing from footer */
}

.app-footer {
  flex-shrink: 0; /* Ensure footer stays at the bottom */
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 16px;
}

/* Dark Mode Styles */
.mat-toolbar.dark-mode {
  background-color: #1e1e1e !important;
  color: white !important;
}

.mat-toolbar.dark-mode .mat-icon-button {
  color: white !important;
}

.mat-sidenav.dark-mode {
  background-color: #1e1e1e !important;
  color: white !important;
}

.mat-sidenav-container.dark-mode {
  background-color: #1e1e1e !important;
  color: white;
}

.footer-spacer {
  height: 30px;
  flex-shrink: 0;
}