<mat-card class="hero-card" [class.dark-mode]="isDarkMode">
    <mat-card-header>
      <div mat-card-avatar class="hero-avatar"></div>
      <mat-card-title>Coleman Gorham</mat-card-title>
      <mat-card-subtitle>Software Engineer</mat-card-subtitle>
    </mat-card-header>
    <div class="image-container">
        <img mat-card-image src="assets/me.png" alt="Your Name" />
    </div>
    <mat-card-content>
      <p>
        Welcome to my site! I am a fullstack software engineer currently working at Fidelity Investments
        with a passion for creating beautiful and functional user interfaces. I have experience
        with Angular, TypeScript, Vue.js, Enterprise Java and various cloud technologies.
      </p>
    </mat-card-content>
  </mat-card>
  