<mat-toolbar [class.dark-mode]="isDarkMode">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">{{ pageTitle }}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </mat-toolbar>
  
  <mat-sidenav-container [class.dark-mode]="isDarkMode">
    <mat-sidenav
      #sidenav
      [mode]="'over'"
      [opened]="isSidenavOpen"
      (closedStart)="isSidenavOpen = false"
      [class.dark-mode]="isDarkMode"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/" routerLinkActive="active-tab" (click)="sidenav.close()">Home</a>
        <a mat-list-item routerLink="/about" routerLinkActive="active-tab" (click)="sidenav.close()">About</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- Main content area with router outlet -->
      <div class="router-container" [class.dark-mode]="isDarkMode">
        <router-outlet></router-outlet>
      </div>
  
      <div class="footer-spacer"></div>
      <!-- Footer positioned at the bottom -->
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
  